@font-face {
    font-family: 'outfit';
    src:  url('outfit.ttf');
}

body {
    background-image: url('IMG_3076.jpg'); 
    background-size: cover;
    font-family: outfit;
}

.bg-gray {
    background-color: #f7fafc;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.min-h-screen {
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 40rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.frosted-glass {
    backdrop-filter: saturate(180%) blur(10px);
    background-color: rgba(255, 255, 255, 0.26);
    padding: 2rem;
    border-radius: 0.375rem;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.2);
    margin: 40px;
}

.links-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 8px;
    padding: 20px 0;
}

.link-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.modify-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.link-a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: large;
    transition: all 0.33s;
    padding: 4px 16px 4px 8px;
    border-radius: 8px;
    border: 1px solid rgba(53, 53, 53, 0);
    text-decoration: none;
    color: black;
}

.link-a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0);
}

.modify-links-button {
    padding: 10px;
    border-radius: 8px;
    transition: all 0.33s;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.modify-links-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.form-submit-button {
    padding: 4px;
    border-radius: 8px;
    transition: all 0.33s;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.form-submit-button:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.link-remove-button {
    display: none;
    padding: 2px;
    border-radius: 100%;
    transition: all 0.33s;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    height: fit-content;
    width: fit-content;
}

.link-remove-button:hover {
    cursor: pointer;
}

.favicon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.new-link-form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.input {
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 4px;
    color: rgb(37, 37, 37)!important;
    font-weight: bold;
}

.input::placeholder {
    color: rgb(34, 34, 34);
    opacity: 1;
    font-weight: normal;
}

.modify-links-button svg, .form-submit-button svg, .link-remove-button svg {
    vertical-align: middle;
}