body {
    background-image: url('_MG_0192.png'); 
    background-size: cover;
}
.frosted-glass {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
}

.links-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: evenly;
    gap: 8px;
}

